
body {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-emphasis: center;
    background: rgb(99, 98, 98);
    gap: 10px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
    transition: 0.3s;
    gap: 16px;
        
}

.container li {
    position: relative;
    overflow: hidden;
    flex: 0 0 80px;
    border-radius: 10px;
    cursor: pointer;
    border: 1.2px solid #eee;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.4) , -2px -5px 10xp rgba(0.0.0.0.1);
animation: glow 3s infinite alternate;
}

.container li img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container li , .container li img {
    transition: 0.3s ;
}

.container li .content {
    transition: 1.5s ease;
}

.container span {
    text-align: center;
    width: 75%;
}

.container h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 4px;
    margin-bottom: 3px;
    
    color: #fffdfd;
}

.container p {
    color: #ffffffb9;
    font-size: 10px;
    width: 100%;
}


.container li .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #000000;
    padding: 15px;
    background: linear-gradient(
        0deg , rgb(0 0 0 /70%) 10% ,
        rgb(255 255 255 /0%) 100%
    );
    opacity: 0;
    visibility: hidden;
}

.container:hover {
    gap: 0;
}

.container li .content span {
    position: absolute ;
    z-index: 3;
    left: 50%;
    bottom: 0px;
    translate: -50%;
    scale: 0.85;
    visibility: hidden;
    opacity: 0;

}

.container li:hover {
    flex: 0 1 260px;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
}

.container li img {

}
.container li:hover .content {
    opacity: 1;
    visibility: visible;

}
.container li:hover span {
    scale: 1;
    opacity: 1;
    visibility: visible;
}








@keyframes glow {
            0% {box-shadow: 0 0 5px rgb(245, 245, 245) ,  0 0 10px rgb(124, 124, 124) , 0 0 20px rgb(67, 236, 143)}
            50% {box-shadow: 0 0 20px rgb(247, 246, 246) ,  0 0 30px rgb(134, 134, 133) , 0 0 40px rgb(67, 236, 143)}
            100% {box-shadow: 0 0 5px rgb(252, 252, 252) ,  0 0 10px rgb(97, 97, 96) , 0 0 20px rgb(67, 236, 143)}
}



.navigation {
    margin-top: 20px;
    position: relative;
    width: 95%;
    height: 70px;
    background: #1e272e;
    border-radius: 10px;
    box-shadow: 15px 20px 15px rgba(0, 0, 0, 0.3);
     display: flex;                /* تخلى العناصر جوه تستخدم flex */
    justify-content: center;      /* توسيط أفقى */
    align-items: center;          /* توسيط رأسى */
}

.navigation ul {
    display: flex;
    width: 350px;

}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #fff ;

}


.navigation ul li.active a .icon {
transform: translateY(-30px);
}

.navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}


.indicator {
    position: absolute;
    top: -50%;
    width: 60px;
    height: 60px;
    background: rgb(49, 49, 49);
    border-radius: 50%;
    border: 6px solid  rgb(99, 98, 98);
    transition: 0.5s;

}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 30px;
    box-shadow: 1px -10px 0 0   rgb(99, 98, 98);
}


.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 30px;
    box-shadow: -1px -10px 0 0  rgb(99, 98, 98);
}


.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px*0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px*1));
}


.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px*2));
}


.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px*3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px*4));
}







.box {
    position: absolute;
    background: rgb(241, 237, 237);
    width: 200px;
    height: 200px;
    border-radius: 10%;
    transition: transform 1s linear;
    top: 65%;
    left: 45%;
    border: 3px solid rgb(121, 202, 223);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

